.Gif{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    gap: 10px;
    color: white;
    text-decoration: none;
    background-color: darkslategrey;
}

.Gif > h3{
    font-size: 18px;
    margin: 0;
}

.Gif > img{
    object-fit: contain;
}